body{
    height:100%;
    width:100%;
    background:#333;
    margin:0;
    padding:0;
}
.mainarea{
    height:100%;
    width:90%;
    margin:auto;
}



.first_star{
	height:200px;
	width:200px;
    position:absolute;
    right:50%;
    top:50%;
}
.first_star .top_part{
width: 0;
height: 0;
border-style: solid;
border-width: 0 10.5px 100px 10.5px;
border-color: transparent transparent  bisque transparent;
position:absolute;
left:45%;
animation:top;
animation-duration: 2s;
animation-iteration-count:infinite;

}
.first_star .left_part{
width: 0;
height: 0;
border-style: solid;
border-width: 10.5px 100px 10.5px 0;
border-color: transparent bisque transparent transparent;
position:absolute;
top:45%;
animation:left;
animation-duration: 2s;
animation-iteration-count:infinite;
    
}
.first_star .right_part{
width: 0;
height: 0;
border-style: solid;
border-width: 10.5px 0 10.5px 100px;
border-color: transparent transparent transparent bisque;
position:absolute;
top:45%; 
right:0;
animation:right;
animation-duration: 2s;
animation-iteration-count:infinite;

}
.first_star .bottom_part{
width: 0;
height: 0;
border-style: solid;
border-width: 100px 10px 0 10px;
border-color: bisque transparent transparent transparent;
position:absolute;
top:50%; 
left:45%;
animation:bottom;
animation-duration: 2s;
animation-iteration-count:infinite;
}

@keyframes top{
                0%{border-color: transparent transparent  bisque transparent;   }
                25%{border-color: transparent transparent  black transparent; }
                50%{border-color: transparent transparent  red transparent; }
                75%{border-color: transparent transparent  yellow transparent;}
                100%{border-color: transparent transparent  magenda transparent; }
}
@keyframes bottom{
                0%{   }
                25%{border-color: green transparent transparent transparent; }
                50%{border-color: red transparent transparent transparent; }
                75%{border-color: yellow transparent transparent transparent;}
                100%{border-color: magenda transparent transparent transparent; }
}
@keyframes left{
                0%{   }
                25%{border-color: transparent green transparent transparent; }
                50%{border-color: transparent red transparent transparent; }
                75%{border-color: transparent yellow transparent transparent;}
                100%{border-color: transparent magenda transparent transparent; }
}
@keyframes right{
                0%{   }
                25%{border-color: transparent transparent transparent green; }
                50%{border-color: transparent transparent transparent red; }
                75%{border-color: transparent transparent transparent yellow;}
                100%{border-color: transparent magenda transparent magenda; }
}




.second_star{
	height:100px;
	width:100px;
        position:absolute;
        right:10%;
        top:50%;
}
.second_star .top_part{
width: 0;
height: 0;
border-style: solid;
border-width: 0 5.5px 50px 5.5px;
border-color: transparent transparent  bisque transparent;
position:absolute;
left:45%;
animation:top;
animation-duration: 2s;
animation-iteration-count:infinite;

}
.second_star .left_part{
width: 0;
height: 0;
border-style: solid;
border-width: 5.5px 50px 5.5px 0;
border-color: transparent bisque transparent transparent;
position:absolute;
top:45%;
animation:left;
animation-duration: 2s;
animation-iteration-count:infinite;
    
}
.second_star .right_part{
width: 0;
height: 0;
border-style: solid;
border-width: 5.5px 0 5.5px 50px;
border-color: transparent transparent transparent bisque;
position:absolute;
top:45%; 
right:0;
animation:right;
animation-duration: 2s;
animation-iteration-count:infinite;

}
.second_star .bottom_part{
width: 0;
height: 0;
border-style: solid;
border-width: 50px 5px 0 5px;
border-color: bisque transparent transparent transparent;
position:absolute;
top:50%; 
left:45%;
animation:bottom;
animation-duration: 2s;
animation-iteration-count:infinite;
}

@keyframes top{
                0%{border-color: transparent transparent  bisque transparent;   }
                25%{border-color: transparent transparent  green transparent; }
                50%{border-color: transparent transparent  red transparent; }
                75%{border-color: transparent transparent  yellow transparent;}
                100%{border-color: transparent transparent  magenda transparent; }
}
@keyframes bottom{
                0%{   }
                25%{border-color: green transparent transparent transparent; }
                50%{border-color: red transparent transparent transparent; }
                75%{border-color: yellow transparent transparent transparent;}
                100%{border-color: magenda transparent transparent transparent; }
}
@keyframes left{
                0%{   }
                25%{border-color: transparent green transparent transparent; }
                50%{border-color: transparent red transparent transparent; }
                75%{border-color: transparent yellow transparent transparent;}
                100%{border-color: transparent magenda transparent transparent; }
}
@keyframes right{
                0%{   }
                25%{border-color: transparent transparent transparent green; }
                50%{border-color: transparent transparent transparent red; }
                75%{border-color: transparent transparent transparent yellow;}
                100%{border-color: transparent magenda transparent magenda; }
}




.third_star{
	height:100px;
	width:100px;
        position:absolute;
        left:10%;
        top:30%;
}
.third_star .top_part{
width: 0;
height: 0;
border-style: solid;
border-width: 0 5.5px 50px 5.5px;
border-color: transparent transparent  bisque transparent;
position:absolute;
left:45%;
animation:top;
animation-duration: 2s;
animation-iteration-count:infinite;

}
.third_star .left_part{
width: 0;
height: 0;
border-style: solid;
border-width: 5.5px 50px 5.5px 0;
border-color: transparent bisque transparent transparent;
position:absolute;
top:45%;
animation:left;
animation-duration: 2s;
animation-iteration-count:infinite;
    
}
.third_star .right_part{
width: 0;
height: 0;
border-style: solid;
border-width: 5.5px 0 5.5px 50px;
border-color: transparent transparent transparent bisque;
position:absolute;
top:45%; 
right:0;
animation:right;
animation-duration: 2s;
animation-iteration-count:infinite;

}
.third_star .bottom_part{
width: 0;
height: 0;
border-style: solid;
border-width: 50px 5px 0 5px;
border-color: bisque transparent transparent transparent;
position:absolute;
top:50%; 
left:45%;
animation:bottom;
animation-duration: 2s;
animation-iteration-count:infinite;
}

@keyframes top{
                0%{border-color: transparent transparent  bisque transparent;   }
                25%{border-color: transparent transparent  green transparent; }
                50%{border-color: transparent transparent  red transparent; }
                75%{border-color: transparent transparent  yellow transparent;}
                100%{border-color: transparent transparent  magenda transparent; }
}
@keyframes bottom{
                0%{   }
                25%{border-color: green transparent transparent transparent; }
                50%{border-color: red transparent transparent transparent; }
                75%{border-color: yellow transparent transparent transparent;}
                100%{border-color: magenda transparent transparent transparent; }
}
@keyframes left{
                0%{   }
                25%{border-color: transparent green transparent transparent; }
                50%{border-color: transparent red transparent transparent; }
                75%{border-color: transparent yellow transparent transparent;}
                100%{border-color: transparent magenda transparent transparent; }
}
@keyframes right{
                0%{   }
                25%{border-color: transparent transparent transparent green; }
                50%{border-color: transparent transparent transparent red; }
                75%{border-color: transparent transparent transparent yellow;}
                100%{border-color: transparent magenda transparent magenda; }
}


.fourth_star{
	height:50px;
	width:50px;
        position:absolute;
        left:50%;
        top:10%;
}
.fourth_star .top_part{
width: 0;
height: 0;
border-style: solid;
border-width: 0 2.5px 25px 2.5px;
border-color: transparent transparent  bisque transparent;
position:absolute;
left:45%;
animation:top;
animation-duration: 2s;
animation-iteration-count:infinite;

}
.fourth_star .left_part{
width: 0;
height: 0;
border-style: solid;
border-width: 2.5px 25px 2.5px 0;
border-color: transparent bisque transparent transparent;
position:absolute;
top:45%;
animation:left;
animation-duration: 2s;
animation-iteration-count:infinite;
    
}
.fourth_star .right_part{
width: 0;
height: 0;
border-style: solid;
border-width: 2.5px 0 2.5px 25px;
border-color: transparent transparent transparent bisque;
position:absolute;
top:45%; 
right:0;
animation:right;
animation-duration: 2s;
animation-iteration-count:infinite;

}
.fourth_star .bottom_part{
width: 0;
height: 0;
border-style: solid;
border-width: 25px 2.5px 0 2.5px;
border-color: bisque transparent transparent transparent;
position:absolute;
top:50%; 
left:45%;
animation:bottom;
animation-duration: 2s;
animation-iteration-count:infinite;
}

@keyframes top{
                0%{border-color: transparent transparent  bisque transparent;   }
                25%{border-color: transparent transparent  green transparent; }
                50%{border-color: transparent transparent  red transparent; }
                75%{border-color: transparent transparent  yellow transparent;}
                100%{border-color: transparent transparent  magenda transparent; }
}
@keyframes bottom{
                0%{   }
                25%{border-color: green transparent transparent transparent; }
                50%{border-color: red transparent transparent transparent; }
                75%{border-color: yellow transparent transparent transparent;}
                100%{border-color: magenda transparent transparent transparent; }
}
@keyframes left{
                0%{   }
                25%{border-color: transparent green transparent transparent; }
                50%{border-color: transparent red transparent transparent; }
                75%{border-color: transparent yellow transparent transparent;}
                100%{border-color: transparent magenda transparent transparent; }
}
@keyframes right{
                0%{   }
                25%{border-color: transparent transparent transparent green; }
                50%{border-color: transparent transparent transparent red; }
                75%{border-color: transparent transparent transparent yellow;}
                100%{border-color: transparent magenda transparent magenda; }
}




.fifth_star{
	height:100px;
	width:100px;
        position:absolute;
        right:0;
        top:1%;
}
.fifth_star .top_part{
width: 0;
height: 0;
border-style: solid;
border-width: 0 5.5px 50px 5.5px;
border-color: transparent transparent  bisque transparent;
position:absolute;
left:45%;
animation:top;
animation-duration: 2s;
animation-iteration-count:infinite;

}
.fifth_star .left_part{
width: 0;
height: 0;
border-style: solid;
border-width: 5.5px 50px 5.5px 0;
border-color: transparent bisque transparent transparent;
position:absolute;
top:45%;
animation:left;
animation-duration: 2s;
animation-iteration-count:infinite;
    
}
.fifth_star .right_part{
width: 0;
height: 0;
border-style: solid;
border-width: 5.5px 0 5.5px 50px;
border-color: transparent transparent transparent bisque;
position:absolute;
top:45%; 
right:0;
animation:right;
animation-duration: 2s;
animation-iteration-count:infinite;

}
.fifth_star .bottom_part{
width: 0;
height: 0;
border-style: solid;
border-width: 50px 5px 0 5px;
border-color: bisque transparent transparent transparent;
position:absolute;
top:50%; 
left:45%;
animation:bottom;
animation-duration: 2s;
animation-iteration-count:infinite;
}

@keyframes top{
                0%{border-color: transparent transparent  bisque transparent;   }
                25%{border-color: transparent transparent  green transparent; }
                50%{border-color: transparent transparent  red transparent; }
                75%{border-color: transparent transparent  yellow transparent;}
                100%{border-color: transparent transparent  magenda transparent; }
}
@keyframes bottom{
                0%{   }
                25%{border-color: green transparent transparent transparent; }
                50%{border-color: red transparent transparent transparent; }
                75%{border-color: yellow transparent transparent transparent;}
                100%{border-color: magenda transparent transparent transparent; }
}
@keyframes left{
                0%{   }
                25%{border-color: transparent green transparent transparent; }
                50%{border-color: transparent red transparent transparent; }
                75%{border-color: transparent yellow transparent transparent;}
                100%{border-color: transparent magenda transparent transparent; }
}
@keyframes right{
                0%{   }
                25%{border-color: transparent transparent transparent green; }
                50%{border-color: transparent transparent transparent red; }
                75%{border-color: transparent transparent transparent yellow;}
                100%{border-color: transparent magenda transparent magenda; }
}



.sixth_star{
	height:50px;
	width:50px;
        position:absolute;
        left:0%;
        bottom:0%;
}
.sixth_star .top_part{
width: 0;
height: 0;
border-style: solid;
border-width: 0 2.5px 25px 2.5px;
border-color: transparent transparent  bisque transparent;
position:absolute;
left:45%;
animation:top;
animation-duration: 2s;
animation-iteration-count:infinite;

}
.sixth_star .left_part{
width: 0;
height: 0;
border-style: solid;
border-width: 2.5px 25px 2.5px 0;
border-color: transparent bisque transparent transparent;
position:absolute;
top:45%;
animation:left;
animation-duration: 2s;
animation-iteration-count:infinite;
    
}
.sixth_star .right_part{
width: 0;
height: 0;
border-style: solid;
border-width: 2.5px 0 2.5px 25px;
border-color: transparent transparent transparent bisque;
position:absolute;
top:45%; 
right:0;
animation:right;
animation-duration: 2s;
animation-iteration-count:infinite;

}
.sixth_star .bottom_part{
width: 0;
height: 0;
border-style: solid;
border-width: 25px 2.5px 0 2.5px;
border-color: bisque transparent transparent transparent;
position:absolute;
top:50%; 
left:45%;
animation:bottom;
animation-duration: 2s;
animation-iteration-count:infinite;
}

@keyframes top{
                0%{border-color: transparent transparent  bisque transparent;   }
                25%{border-color: transparent transparent  green transparent; }
                50%{border-color: transparent transparent  red transparent; }
                75%{border-color: transparent transparent  yellow transparent;}
                100%{border-color: transparent transparent  magenda transparent; }
}
@keyframes bottom{
                0%{   }
                25%{border-color: green transparent transparent transparent; }
                50%{border-color: red transparent transparent transparent; }
                75%{border-color: yellow transparent transparent transparent;}
                100%{border-color: magenda transparent transparent transparent; }
}
@keyframes left{
                0%{   }
                25%{border-color: transparent green transparent transparent; }
                50%{border-color: transparent red transparent transparent; }
                75%{border-color: transparent yellow transparent transparent;}
                100%{border-color: transparent magenda transparent transparent; }
}
@keyframes right{
                0%{   }
                25%{border-color: transparent transparent transparent green; }
                50%{border-color: transparent transparent transparent red; }
                75%{border-color: transparent transparent transparent yellow;}
                100%{border-color: transparent magenda transparent magenda; }
}



.seventh_star{
	height:50px;
	width:50px;
        position:absolute;
        left:65%;
        bottom:10%;
}
.seventh_star .top_part{
width: 0;
height: 0;
border-style: solid;
border-width: 0 2.5px 25px 2.5px;
border-color: transparent transparent  bisque transparent;
position:absolute;
left:45%;
animation:top;
animation-duration: 2s;
animation-iteration-count:infinite;

}
.seventh_star .left_part{
width: 0;
height: 0;
border-style: solid;
border-width: 2.5px 25px 2.5px 0;
border-color: transparent bisque transparent transparent;
position:absolute;
top:45%;
animation:left;
animation-duration: 2s;
animation-iteration-count:infinite;
    
}
.seventh_star .right_part{
width: 0;
height: 0;
border-style: solid;
border-width: 2.5px 0 2.5px 25px;
border-color: transparent transparent transparent bisque;
position:absolute;
top:45%; 
right:0;
animation:right;
animation-duration: 2s;
animation-iteration-count:infinite;

}
.seventh_star .bottom_part{
width: 0;
height: 0;
border-style: solid;
border-width: 25px 2.5px 0 2.5px;
border-color: bisque transparent transparent transparent;
position:absolute;
top:50%; 
left:45%;
animation:bottom;
animation-duration: 2s;
animation-iteration-count:infinite;
}

@keyframes top{
                0%{border-color: transparent transparent  bisque transparent;   }
                25%{border-color: transparent transparent  green transparent; }
                50%{border-color: transparent transparent  red transparent; }
                75%{border-color: transparent transparent  yellow transparent;}
                100%{border-color: transparent transparent  magenda transparent; }
}
@keyframes bottom{
                0%{   }
                25%{border-color: green transparent transparent transparent; }
                50%{border-color: red transparent transparent transparent; }
                75%{border-color: yellow transparent transparent transparent;}
                100%{border-color: magenda transparent transparent transparent; }
}
@keyframes left{
                0%{   }
                25%{border-color: transparent green transparent transparent; }
                50%{border-color: transparent red transparent transparent; }
                75%{border-color: transparent yellow transparent transparent;}
                100%{border-color: transparent magenda transparent transparent; }
}
@keyframes right{
                0%{   }
                25%{border-color: transparent transparent transparent green; }
                50%{border-color: transparent transparent transparent red; }
                75%{border-color: transparent transparent transparent yellow;}
                100%{border-color: transparent magenda transparent magenda; }
}
