@media all and (max-width:1050px){
table,img{
max-width:100%;
}
#mainArea{
   max-width:100%;
}
#content .box .box1 img{
   max-width:100%;
   
}




}

@media all and (max-width:750px){

#mainArea{
   max-width:100%;
}





}

@media all and (max-width:350px){

#mainArea{
   max-width:100%;
}





}