



*{
    margin:0;
    padding:0;
}
body{
    background:  activeborder;
}
#mainArea{
    height:auto;
    width:95%;
    margin:auto;
}


#header{
    height:140px;
    width:100%;
    background:#fff;
}
.logoArea{
    width:18%;
    height:100%;
    margin-right:.3%;
    float:left;
    background:  aqua;
}
.bannerArea{
    width:81.7%;
    height:100%;
    float:right;
    background:  aquamarine;
}


#menu{
    height:50px;
    width:100%;
    
}
#menu ul{
    list-style: none;
}
#menu ul li{
    display:inline-block;
    padding:15px 39px 15px 39px ;
    background: brown;
    color:#fff;
    cursor:pointer;
    position:relative;
    transition:all.3s;
    overflow: hidden;
    z-index: 999999;
    margin-right:.5px;
}


#menu ul li:nth-child(1){
    background: #3F2E55;
    
}
#menu ul li:nth-child(1):after{
    position:absolute;
    top:0;
    left:-10px;
    content:"";
    height:100%;
    width:0%;
    background: red;
    transition:all .5s;
    transform: skewX(20deg);
    z-index: -1
}
#menu ul li:nth-child(1):hover:after{
    width:70%;
}

#menu ul li:nth-child(2){
    background: #3F2E55;  
}
#menu ul li:nth-child(2):before{
    position:absolute;
    top:0;
    right:-10px;
    content:"";
    height:100%;
    width:0%;
    background: red;
    transition:all .5s;
    transform: skewX(20deg);
    z-index: -1
}
#menu ul li:nth-child(2):hover:before{
    width:70%;   
}

#menu ul li:nth-child(3){
    background: linear-gradient(to top right,  #990033, yellow);
    
}
#menu ul li:nth-child(3):after{
    position:absolute;
    top:0;
    left:0px;
    content:"";
    height:100%;
    width:0%;
    background: red;
    transition:all .5s;
    z-index: -1
}
#menu ul li:nth-child(3):hover:after{
    width:100%; 
    
}
#menu ul li:nth-child(4){
    background:linear-gradient(to bottom right,#3F2E55, #ff00ff  );
    
}
#menu ul li:nth-child(4):after{
    position:absolute;
    top:0;
    right:0px;
    content:"";
    height:100%;
    width:0%;
    background: red;
    transition:all .5s;
    z-index: -1
}
#menu ul li:nth-child(4):hover:after{
    width:100%; 
    
}

#menu ul li:nth-child(5){
    background:linear-gradient(to bottom left,
	 #0000ff,
	 #6666ff  );
    
}
#menu ul li:nth-child(5):after{
    position:absolute;
    top:0;
    left:0px;
    content:"";
    height:100%;
    width:0%;
    background: red;
    transition:all .5s;
    z-index: -1
}
#menu ul li:nth-child(5):before{
    position:absolute;
    top:0;
    right:0px;
    content:"";
    height:100%;
    width:0%;
    background: red;
    transition:all .5s;
    z-index: -1
}
#menu ul li:nth-child(5):hover:after,#menu ul li:nth-child(5):hover:before{
    width:50%; 
    
}

#menu ul li:nth-child(6){
    background:linear-gradient(to bottom left,blue,#3B5998  );
    
}
#menu ul li:nth-child(6):after{
    position:absolute;
    top:0;
    left:0px;
    content:"";
    height:100%;
    width:50%;
    background: red;
    transition:all .5s;
    z-index: -1
}
#menu ul li:nth-child(6):before{
    position:absolute;
    top:0;
    right:0px;
    content:"";
    height:100%;
    width:50%;
    background: red;
    transition:all .5s;
    z-index: -1
}
#menu ul li:nth-child(6):hover:after,#menu ul li:nth-child(6):hover:before{
    width:0%; 
    
}
#menu ul li:nth-child(7){
    background: #3F2E55;
    
}
#menu ul li:nth-child(7):after{
    position:absolute;
    top:0;
    left:-10px;
    content:"";
    height:100%;
    width:0%;
    background: red;
    transition:all .5s;
    transform: skewX(20deg);
    z-index: -1
}
#menu ul li:nth-child(7):hover:after{
    width:70%;
}
#menu ul li:nth-child(8){
    background:linear-gradient(to bottom right,#3F2E55, #ff00ff  );
    
}
#menu ul li:nth-child(8):after{
    position:absolute;
    top:0;
    right:0px;
    content:"";
    height:100%;
    width:0%;
    background: red;
    transition:all .5s;
    z-index: -1
}
#menu ul li:nth-child(8):hover:after{
    width:100%; 
    
}
#menu ul li:nth-child(9){
    background:linear-gradient(to bottom left,
	 #0000ff,
	 #6666ff  );
    
}
#menu ul li:nth-child(9):after{
    position:absolute;
    top:0;
    left:0px;
    content:"";
    height:100%;
    width:0%;
    background: red;
    transition:all .5s;
    z-index: -1
}
#menu ul li:nth-child(9):before{
    position:absolute;
    top:0;
    right:0px;
    content:"";
    height:100%;
    width:0%;
    background: red;
    transition:all .5s;
    z-index: -1
}
#menu ul li:nth-child(9):hover:after,#menu ul li:nth-child(9):hover:before{
    width:50%; 
}
#menu ul li:nth-child(10){
    background:linear-gradient(to bottom left,blue,#3B5998  );
    
}
#menu ul li:nth-child(10):after{
    position:absolute;
    top:0;
    left:0px;
    content:"";
    height:100%;
    width:50%;
    background: red;
    transition:all .5s;
    z-index: -1
}
#menu ul li:nth-child(10):before{
    position:absolute;
    top:0;
    right:0px;
    content:"";
    height:100%;
    width:50%;
    background: red;
    transition:all .5s;
    z-index: -1
}
#menu ul li:nth-child(10):hover:after,#menu ul li:nth-child(10):hover:before{
    width:0%; 
    
}


#content{
   width:100%;
   height:600px;
   margin-top:20px;
}
#content h3{
    text-align: center;
    
}
#content .box{
    height:300px;
    width:100%;
    margin-top:10px;
}
#content .box .box1{
    width:33%;
    float:left;
    background: yellow;
    height:100%;
    overflow:hidden;
    
}
#content .box .box1 img{
    height:100%;
    width:100%;
    transition:all .5s;
}
#content .box .box1 img:hover{
    transform: scale(2);
}
#content .box .box2{
    width:33%;
    float:left;
    background: maroon;
    height:100%;
    margin-right:.5%;
    margin-left:.5%;
    overflow:hidden;
}
#content .box .box2 img{
    height:100%;
    width:100%;
    transition:all .5s;
}
#content .box .box2 img:hover{
    transform: scale(2);
}
#content .box .box3{
    width:33%;
    float:right;
    height:100%;
    background: cyan;
    overflow:hidden;
    transition:all 1s;
    position:relative;
}
#content .box .box3:after{
    position:absolute;
    content:"";
    height:100%;
    width:100%;
    background:red;
    top:0;
    left:0;
    opacity:.1;
}

#content .box .box3:hover{
    transform: rotateY(180deg);
}

#content .box .box3 img{
    height:100%;
    width:100%;
    transition:all .5s;
}
#content .box .box3 img:hover{
    transform: scale(3);
}