body 
{

background:gray;

}

.box
{

width:230px;
height:230px;
/*background:red;*/
position:relative;
animation-name:bitm;
animation-duration:.9s;
animation-iteration-count:infinite;



}
@keyframes bitm {

0% {background-image:url ('img/download.jpg');}
25% {background-image:url ('img/PT_hero_42_153645159.jpg');}
50% {background-image:url ('img/full-hd-happy-valentines-day-hd-wallpapers.jpg');}
75% {background-image:url ('img/PT_hero_42_153645159.jpg');}
100%{background:url ();}


}